/*
 * Names: Kaleb Lowdermilk, Julianna Marshall, Brittany Stallo
 * File Name: aboutStyles.css
*/

/*About Background Style Rules*/
.about {
    margin-bottom: 3.75rem;
}

.about__header {
    text-align: right;
    margin-bottom: 1.875rem;
}

.about__paragraph {
    margin-bottom: 1.25rem;
    text-align: left;
}

/* Our Mission Style Rules*/
.about__our_mission {
    background-color: #efe5cc;
    border-radius: 0.375rem;
    padding: 3.125rem 2.5rem;
    margin-top: 3.75rem;
    text-align: center;
}

.about__our_mission_header {
    margin-bottom: 1rem;
}

.about__our_mission_paragraph {
    line-height: 1.8;
}

/* Our Mission Style Rules for Desktop*/
@media (min-width:1024px) {
    .about__our_mission {
        padding: 4.375rem 5.375rem;
        text-align: left;
    }
}

/*Meet The Team Style Rules*/
.about__meet_the_team_title {
    color: #0841C980;
    margin-top: 4px;
    margin-bottom: 16px;
}

.about__meet_the_team {
    max-width: 56.25rem;
    padding: 3.75rem 1.25rem;
}

.about__meet_the_team_header {
    margin-bottom: 1.875rem;
}

.about__meet_the_team__individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__meet_the_team__individual:not(:last-of-type) {
    margin-bottom: 5rem;
}

.about__meet_the_team_picture {
    height: auto;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 17.5rem;
    margin-bottom: 1rem;
}

.about__meet_the_team_text {
    flex: 1;
    text-align: center;
}

.about__meet_the_team_description {
    line-height: 1.6;
}

/* Meet The Team Style Rules for Desktop */
@media (min-width: 1024px) {
    .about__meet_the_team{
        max-width: none;
    }
    
    .about__meet_the_team_header {
        margin-bottom: 3.75rem;
    }

    .about__meet_the_team__individual {
        display: grid;
        grid-template-columns: 12.5rem 1fr;
        gap: 1.5rem;
        align-items: start;
        text-align: left;
    }

    .about__meet_the_team_picture {
        width: 100%;
        max-width: 17rem;
        height: auto;
        border-radius: 0.5;
    }

    .about__meet_the_team_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about__meet_the_team_name {
        font-weight: bold;
    }

    .about__meet_the_team_title {
        margin: 0.25rem 0 0.75rem;
    }

    .about__meet_the_team_description {
        margin-top: 2.75rem;
        max-width: 50rem;
    }

}

/* Services Style Rules*/
.about__services {
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
    padding: 1.875rem 1.25rem;
    background-color: #f7f7f7;
    margin-bottom: 4.188rem;
}

.about__services_header {
    margin-bottom: 1rem;
}

/* Services Style Rules for Desktop */
@media (min-width: 1024px) {
    .about__services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 5rem;
        margin-bottom: 4.188rem;
    }

    .about__services_header {
        margin-bottom: 0;
    }
}